.app {
  max-width: 1048px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.header {
  font-size: 3em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: calc(100vh - 200px);
}

.group_title{
  padding: 8px;
}

.column_container{
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  padding: 40px 2% 20px 2%;
  margin: 8px;
  border-radius: 2px;
}

.paper_container{
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: 'white';
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  
  width: 91%;
  height: calc(100vh - 350px);
  overflow-y: auto;
  padding: 15px 15px;
}

.paper_container_empty {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: 'white';

  display: flex;
  align-items: center;
  justify-content: center;
}

.task_title, .user_name{
  font-size: 1.5em !important;
  color: black !important;
}

.task_description, .user_nickname{
  width: 100%;
  color: black !important;
}

.user_nickname{
  padding: 0 0 0 5px !important;
}

.grow {
  flex-grow: 1;
}

.title_with_options {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}